body{
    margin: 0px;
    background-color:#0c0707;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    font-family: "Lato",sans-serif;
}

.intro{
    background-image: url("/Coffee.gif");
    background-size:cover;
    background-blend-mode: multiply;                    /* Multiplying blend mode and opacity 0.8 helped to darken the image*/
    background-color: rgba(0, 0, 0, 0.8);
    width:100vw;
    height:100vh;
    margin-bottom: 60px;
}

.introText{
    position:absolute;
    top:40%;
    left:15%;
    color: rgb(255, 246, 230);
    font-size: 200%;
    font-weight: 800;
    text-shadow: 0px 0px 10px brown ;
}

.box{
    position: relative;
    background-color: rgb(40, 32, 32);
    line-height: 45px;
    color:rgba(255, 255, 255, 0.371);
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:35px;
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out ;
}

.our_menu{
    position: relative;
}

.our_menu::after{
    content:"";
    position:absolute;
    width:100px;
    background-color: olive;
    top:50%;
    left:50%;
    height: 10px;
    translate: -110% 360%;
    transition: translate 0.5s ease-in-out , width 0.5s ease-in-out;
}

.our_menu:hover::after{
    translate: -50% 360%;
    width:250px;
}

.box::after{
    position: absolute;
    content: " ";
    z-index:-1;
    background-image: radial-gradient(circle at bottom right,black, rgb(158, 124, 59));
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
}

.box:hover{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-shadow: 0px 0px 2px white;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    position: relative;
    font-size: 20px;
    padding:20px;
    background-color: rgb(36, 20, 46);
    color:white;
    z-index: -2;
}

.book{
    position: relative;
    margin-left: 25px;
    background-image: radial-gradient(circle,purple,black);
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 20px;    
    cursor:pointer;
    transition: font-size 0.5s ease-in-out;
    color:white;
    font-weight: 700;
    text-shadow: 2px 2px 5px black,-2px -2px 5px black,3px 2px 7px white,-3px -2px 7px white;
}

.book::after{
    position: absolute;
    pointer-events: none;
    border-radius: 10px;
    z-index: -1;
    padding: 5px;
    content: " ";
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
    background-image: linear-gradient(30deg,rgb(0, 38, 0),rgb(255, 198, 92));
    animation: glowing 20s linear infinite;
}

.book:hover{
    font-size: 80px;
}

.canva{
    height:500px;
    width:100vw;
    margin-bottom:40px;
}

@keyframes glowing{
    0%{background-position: 0 0;}
    50%{background-position: 500px 300px;}
    100%{background-position: 0 0;}
}

@media only screen and (max-width:768px) and (orientation:portrait) {
    .intro{
        background-image: url("/Coffee.gif");
        background-size:contain;
        background-repeat: no-repeat;
        background-blend-mode: multiply;                    /* Multiplying blend mode and opacity 0.8 helped to darken the image*/
        background-color: rgba(0, 0, 0, 0.8);
        width:100vw;
        height:500px;
        margin-bottom: 0px;
    }
    .introText{
        position:absolute;
        top:42%;
        left:30%;
        color: rgb(255, 246, 230);
        font-size: 100%;
        font-weight: 800;
        text-shadow: 0px 0px 10px brown ;
    }
}